.numberBox {
    width: 80px;
    height: 214px;
    position: absolute;
    top: 78px;
    right: -101px;
}
.numberBox img {
    width: 30px;
    cursor: pointer;
    margin: 3px;
    transition: width 0.2s linear 0s;
}
.numberBox #number_10, .numberBox #number_11, .numberBox #number_12 {
    width: 100px;
}
.numberBox img:hover {
    width: 33px;
}
.toolBox {
    width: 80px;
    height: 214px;
    position: absolute;
    top: 78px;
    right: 0;
}
.toolBox img {
    width: 80px;
    cursor: pointer;
    transition: width 0.2s linear 0s;
}
.toolBox img:hover {
    width: 90px;
}
.toolBox img:not(:first-child) {
    margin-top: 2rem;
}
.toastBox {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
}
.sample-img {
    width: 300px;
}
#preview .nameBox span {
    font-size: 1.3rem;
}
#preview .ipaBox span {
    font-size: 1.3rem;
    color: blue;
}
.sample-img {
    display: block;

    /* This rule is very important, please don't ignore this */
    max-width: 100%;

    margin: 0 auto;
}
.loader {
    display: none;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    z-index: 1000;
    left: 42%;
    top: 32%;
}
.loader.on {
    display: block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
